<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title"><%= @gossips.title %></h5>
    <p class="card-text"><%= @gossips.content %></p>
    <footer class="blockquote-footer"><%= @gossips.user.first_name %>
    <br>
    <%= @gossips.user.city.name %></footer>
    <% @gossips.comments.each do |comment| %>
      <p>les commentaires: <%= comment.content%></p>
    <%end%>

    <%= link_to "Profil", user_path(@gossips.user.id), :class=>"btn btn-primary" %> 
  </div>
</div>

