

<div class="jumbotron">
  <h1 class="display-4">Le titre du potin : <%= @gossips.title %></h1>
  <p>Le contenu du potin : <%= @gossips.content %></p>
  <hr class="my-4">
  <p>Son auteur : <%= @gossips.user.first_name %></p>
  <p>La ville de l'auteur : <%= @gossips.user.city.name %></p>
  <p>les commentaires: </p>
  <% @gossips.comments.each do |comment| %>
  <p><%= comment.content%></p>
  <%end%>
  <%= link_to "Profil", user_path(@gossips.user.id), :class=>"btn btn-primary btn-lg" %>

</div>