<!DOCTYPE html>
<html>
  <head>
    <title>Thegossipproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">TheGossipProject</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, :class=>"nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Team", team_path, :class=>"nav-link"  %>
      </li>
      <li class="nav-item">
         <%= link_to "Contact", contact_path, :class=>"nav-link"  %>
      </li>
      <li class="nav-item">
         <%= link_to "s'inscrire", new_user_path, :class=>"nav-link"  %>
      </li>
      <li class="nav-item">
         <%= link_to "se connecter", new_session_path, :class=>"nav-link"  %> 
        </li>   
    </ul>
     
  </div>
</nav>
  </header>

  <h1 class="display-4">Nous Contacter:</h1>
  <div class="container d-flex justify-content-around">
      <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1537815749002-de6a533c64db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1445&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-text">Grégoire</h4>
          <h6 class="card-text">Par mail: thegossipproject@gmail.com</h6>
          <h7 class="card-text">Par téléphone : 0612345678</h7>
        </div>
      </div>
  
      <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1537815749002-de6a533c64db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1445&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-text">Chrisevy</h4>
          <h6 class="card-text">Par mail: thegossipproject@gmail.com</h6>
          <h7 class="card-text">Par téléphone : 0612345678</h7>
        </div>
      </div>
    
  </div>
